.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-family: helvetica, arial, sans-serif;
  color: white;
  grid-template-areas:
  "hover"
  "disabled"
  ;
  height: 500px;
}
.hoverMe {
  grid-area: hover;
  background-color: red;
  color: white;
  width: 150px;
  text-align: center;
  height: 50px;
  font-size: 16px;
  /* Add the css property transition here! */
  transition: 2s;
}
/* active state */
.hoverMe:hover {
  /* Add your hover state css here. */
  background-color: purple;
  border-radius:10px;
  transform: scale(1,2) skew(20deg, 10deg) translate(100px, 0px) rotate(1turn);

}